/* Write your CSS here */
.not-found-container {
  width: 420px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .not-found-container {
    width: 780px;
  }
}
.not-found-img {
  width: 65px;
}
.message {
  text-align: center;
  color: black;
  font-size: 23px;
  font-family: 'Roboto';
}
.sub-message {
  text-align: center;
  color: #616e7c;
  font-size: 19px;
  font-family: 'Roboto';
}
